<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="semantic.min.css">
    <title>Tableau des menus</title>
  </head>
  <body>
    <div id="app">
      <table class="ui celled padded table">
        <thead>
          <tr>
            <th colspan="7" class="ui center aligned header">Menu de la semaine</th>
          </tr>
          <tr>
            <th></th>
            <th v-for="jour in JourSemaine" class="center aligned"> {{ jour }}</th>
          </tr>

        </thead>
        <tbody>
          <tr v-for="x in 2">
            <td class="center aligned"> {{ repas[x-1] }}</td>
            <td v-for="y in 7">
              <recette-component v-bind:recette="recettes[randomIndex()]"></recette-component>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
